* {
    margin: 0px;
}

#clients {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    margin-left: 20px;
    margin-right: 20px;
    column-gap: 10px;
    row-gap: 10px;
}

#clients-info-contenter{
    margin-top: 20px;
    display: grid;
    height: 350px;
    grid-template-rows: 120px auto auto;
    background-color: rgb(219, 216, 216);
}
.container-img{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
img{
    height: 100px;
    width: 100px;
    object-fit: cover;
}
.container-img button{
    position: absolute;
    top: 0px;
    right: 0px;
    height: 45px;
    width: 45px;
    background-image: url("../images/icons/delete.png");
    background-repeat: no-repeat;
    background-size: cover;
    border: 2px;
}
.container-img button:hover{
    opacity: 0.5;
    background-color: red;
}

.container-name-buttons{
    display: grid;
    grid-template-rows: auto auto auto;
    row-gap: 10px;
}

.container-name-button{
    display: flex;
    justify-content: center;
}
.container-name-button button{
    width: 200px;
    margin-top: 5px;
}
.container-input{
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.container-input input{
    width: 200px;
    height: 20px;
    padding: 0px;
}

.container-add-button{
    margin-top: 10px;
    position: relative;
}

.container-add-button button{
    position: absolute;
    height: 30px;
    width: 60px;
    left: 60%;
}